

.nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: slategray;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav {
  background-size: cover;
  color: white;
  padding: 0.5em;
}

.nav a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  transition: .3s;
}

.nav a:hover {
  transition: .3s;
}

footer {
	color: white;
	padding-top: 20px;
	text-align: center;
}

footer a, h5 {
  color: black; 
}

select {
  color: black;
}

input {
  color: black;
}

.centered {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.subtitle {
  margin-top: 5%;
  text-align: center;
}

.topic {
  text-align: center;
}

.welcome {
  margin-bottom: 2em;
}

.work , .contact {
  background-color: #494E6B;
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.about {
  background-color: white;
  background-size: cover;
  color: #000;
  padding-bottom: 5rem;
}

#web {
  display: none;
}

